body{
    display: block;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#040404, #000000);
    color: white;

}
.noStyle{
    /* list-style-type: none; */
    color: black;
}

#head{

    width: 5%;
    height: 100%;
    float: left;
    font-size: 20px;
    margin: 0px;
     
}

#nameInit{
    font-family: 'Alegreya SC', serif;
    font-weight: bold;
    font-size: 50px;
    color: white;

}

#head a{
    color:#099FFF;
}

.atag{
    text-align: center;
}

.mainsec{
    float: left;
  
    width: 90%; 
    height: 100%;

}
.mainrow{
    height: 100%;
    
}
.home{

    color:#099FFF; 
    font-family: 'BioRhyme', serif; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.home .item p{
    text-align: center;
}

.sideb{
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.sideb .item h1, #portfolio h1 {
color: #fe6847;
    
}

label{
    text-align:left;
}


.panel,.panels{
    display: none;
}

.panel.active{
    
    display:flex;
}
.panels.active{

    display:block;
}

.tech,.title{
    display: inline-block;
    padding: 10px;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

#portfolio img{
    width: 100%;
    height: 60vh;
    
}

  .form{
      padding: 10px;
  }